@{ 
	Layout = "";
}

<div class="box">
	<div class="box-header with-border">
		<h3 id="box-title" class="box-title"></h3>
		<span class="form-group mr15"></span><a href="./add" data-toggle="modal" class="btn btn-success pull-right">添加</a>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<form id="form_list" action="./del" method="post">
				@Html.AntiForgeryToken()
				<input type="hidden" name="__callback" value="del_callback"/>
				<table id="GridView1" cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" class="table table-bordered table-hover">
					<tr>
						<th scope="col">分类名称

换行测试

xxxx</th>
						<th scope="col">分类id（自增）</th>
						<th scope="col">父级分类id</th>
						<th scope="col">创建时间</th>
						<th scope="col" style="width:5%;">&nbsp;</th>
						<th scope="col" style="width:5%;">删除</th>
					</tr>
					<tbody>
						@foreach(CategoryInfo item in ViewBag.items) {
							<tr data-tt-id="@item.Id" data-tt-parent-id="@item.Parent_id">
								<td>@item.Name</td>
								<td>@item.Id</td>
								<td>@item.Parent_id</td>
								<td>@item.Create_time</td>
								<td><a href="./edit?Id=@item.Id">修改</a></td>
								<td><input id="id" name="id" type="checkbox" value="@item.Id" /></td>
							</tr>
						}
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>

<div>
	<font color="red">*</font> 删除父项时，请先删除其所有子项。
	<a id="btn_delete_sel" href="#" class="btn btn-danger pull-right">删除选中项</a>
</div>

<script type="text/javascript">
	(function() {
		top.del_callback = function(rt) {
			if (rt.success) return top.mainViewNav.goto('./?' + new Date().getTime());
			alert(rt.message);
		};

		$('table#GridView1').treetable({ expandable: true });
		$('table#GridView1').treetable('expandAll');
		top.mainViewInit();
	})();
</script>